.App {
  text-align: center;
}

.ccbox{
  position: relative;
  display: flex;
  flex: 0 1 auto;
  align-content: center;
  align-items: center;
  height:50px;
  
  background-color: #000000;
  width:100%;
  margin: 20px auto;
}

.cctext{
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  
  color: #fff;
  font-size: 24px;
  height: 30px;
}